[submodule "ManiSkill2_real2sim"]
	path = ManiSkill2_real2sim
	url = https://github.com/allenzren/ManiSkill2_real2sim
[submodule "scripts/g3_lerobotpi0/lerobot"]
	path = scripts/g3_lerobotpi0/lerobot
	url = https://github.com/huggingface/lerobot
